<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEFAULT_ORIGIN_IATA</key>
	<string>FCO</string>
	<key>GEOAPIFY_API_KEY</key>
	<string>YOUR_GEOAPIFY_API_KEY</string>
	<key>GOOGLE_PLACES_API_KEY</key>
	<string>YOUR_GOOGLE_PLACES_API_KEY</string>
	<key>OPENAI_API_KEY</key>
	<string>YOUR_OPENAI_API_KEY</string>
	<key>OPENAI_MODEL</key>
	<string>gpt-5-mini</string>
</dict>
</plist>
